.aider*
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

dist/

# Binaries
/cmdperf
/main

# Go
vendor/
*.test
*.out
*.prof
cpu.prof
mem.prof
block.prof

# Documentation
TASKS.md